<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h2>新規登録</h2>
	
	<p th:text="${error}"></p>
	<form method="post" th:action="@{/Team7_fromNewAccount}">
	        <div>
	            ユーザーID：
	            <input type="text" name="userCd" >
	        </div>
	        <br>
	        <div>
	            パスワード：
	            <input type="password" name="userPw">
	        </div>
	        <br>
	        <button type="submit" name="make">新規アカウント登録</button>
	        <button type="submit" name="back">ログイン画面に戻る</button>
	    </form>
</body>