<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予定追加表示</title>
</head>
<body>
	<!--たつざわ-->
	<h2><th:block th:text="ユーザー名 + ${userId} + の予定追加"></h2>
	<form method="post" th:action="@{/Team7_fromPlanAdd}"th:object="${team7CalenderForm}">
		<p>日付</p>
		<input type="date" th:field="*{data}">
		<br>
		<p>予定を入力</p>
		<input type="text" th:field="*{sche}" />
		<br>
		<p>予定の詳細を入力</p>
		<textarea name="textarea1" rows="5" cols="20" th:field="*{detail}"></textarea>
		<br>
		
		<!--modoru-->
		<!--カレンダーに戻る-->
		<input type="submit" name="back" value="カレンダーに戻る" />
		<!--予定確認画面に行く-->
		<input type="submit" name="confilm" value="確認" />
	</form>

</body>
</html>