<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>カレンダー表示</title>
</head>
<body>
	<!--たつざわ-->
	<h2>カレンダー</h2>
	<form method="post" th:action="@{/Team7_fromCalender}">
		<input type="submit" name="add" value="予定追加" />
		
		<div>
			<a href="@{/team7/Team7Calender(year=${prevYear},month=${prevMonth})}">前の月</a>
			<a href="@{/team7/Team7Calender(year=${nextYear},month=${nextMonth})}">次の月</a>
		</div>
		
		<div>
		<table border="1">
			<tr>
				<th class="red">日</th>
				<th>月</th>
				<th>火</th>
				<th>水</th>
				<th>木</th>
				<th>金</th>
				<th class="sat">土</th>
			</tr>
			<tr th:each="week : ${#numbers.sequence(1,6)}">
				<td th:each="dayOfWeek : ${#numbers.sequence(0,6)}"
					th:with="cellIndex=${(week -1) * 7 +dayOfWeek},
							 dateNum=${cellIndex - firstDayOfWeek + 1}">
					<input type="button" th:if="${cellIndex >= firstDayOfWeek and dateNum <= daysInMonth}" th:value="${dateNum}">
				</td>
			</tr>	
		</table>
		</div>
		<input type="submit" name="print" value="詳細表示" />
	</form>

</body>
</html>