<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<link rel = "stylesheet" type="text/css" href="team7/Team7Calender.css">
<title>カレンダー表示</title>
</head>
<body>
	<!--たつざわ-->
	<h2><th:block th:text="${year}"></th:block>年<th:block th:text="${month}"></th:block>月のカレンダー</h2>
	<form method="post" th:action="@{/Team7_fromCalender}">
		<input type="submit" name="add" value="予定追加" />
		
		<a th:href="@{/Team7Calender(year=${prevYear},month=${prevMonth})}">前の月</a>
		<a th:href="@{/Team7Calender(year=${nextYear},month=${nextMon})}">次の月</a>
		
		<div>
		<table border="1">
			<tr>
				<th class="red">日</th>
				<th>月</th>
				<th>火</th>
				<th>水</th>
				<th>木</th>
				<th>金</th>
				<th class="sat">土</th>
			</tr>
			<tr th:each="week : ${#numbers.sequence(1,6)}">
				<td th:each="dayOfWeek : ${#numbers.sequence(0,6)}"
					th:with="cellIndex=${(week - 1) * 7 + dayOfWeek},
							dateNum=${cellIndex - firstDayOfMonth + 1}">
					<input class="cal" type="checkbox" th:if="${cellIndex >= firstDayOfMonth and dateNum <= daysInMonth}" th:value="${dateNum}" name="day">
					<th:block class="box" th:if="${cellIndex >= firstDayOfMonth and dateNum <= daysInMonth}" th:text="${dateNum}"></th:block>
					<p th:if="${cellIndex >= firstDayOfMonth and dateNum <= daysInMonth}" th:text="予定 +${countList} +件"></p>
				</td>
			</tr>	
		</table>
		</div>
		<input type="submit" name="print" value="詳細表示" />
	</form>
</body>
</html>