<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/team7/Team7Shinki.css}">

</head>
<body>
	
	<h2>新規登録</h2>
	
	<p th:text="${error}"></p>
	<form method="post" th:action="@{/Team7_fromNewAccount}" th:object="${team7NewAccountForm}">
	        <div>
	            ユーザーID：
	            <input type="text" th:field="*{userCd}" >
				<br>
				<th:block th:if="${#fields.hasErrors('userCd')}" th:errors="*{userCd}"></th:block>
	        </div>
	        <br>
	        <div>
	            パスワード：
	            <input type="text" th:field="*{userPw}">
				<br>
				<th:block th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></th:block>
	        </div>
	        <br>
	        <button type="submit" name="make">新規アカウント登録</button>
	        <button type="submit" name="back">ログイン画面に戻る</button>
	    </form>
</body>