<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/team7/Team7Login.css}">

</head>
<body>
	
	<h2>ログイン画面</h2>
	
	<div th:if="${error}" th:text="${error}"></div>
	
	<form method="post" th:action="@{/Team7_fromLogin}" th:object="${Team7AccountForm}">
	        <div>
	            ユーザーID：
	            <input type="text" th:field="*{userCd}">
				<br>
				<th:block th:if="${#fields.hasErrors('userCd')}" th:errors="*{userCd}"></th:block>
	        </div>
	        <br>
	        <div>
	            パスワード：
	            <input type="password" th:field="*{userPw}">
				<br>
				<th:block th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></th:block>
			</div>
	        <br>
	        <button type="submit" name="login">ログイン</button>
	        <button type="submit" name="make" value="true">新規アカウント作成</button>
	    </form>
</body>