<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
<meta charset="UTF-8">
<title>予定追加表示</title>
</head>
<body>
	<!--たつざわ-->
	<h2>予定追加</h2>
	<form method="post" th:action="@{/Team7_fromPlanAdd}">
		<p>日付</p>
		<select name="month">
			<option value="a"><th:block th:text="mon">1月</th:block></option>
			<option value="b"><th:block th:text="mon">2月</th:block></option>
		</select>
		<select name="day">
					<option value="a"><th:block th:text="mon">1日</th:block></option>
					<option value="b"><th:block th:text="mon">2日</th:block></option>
		</select>
		<br>
		<p>予定を入力</p>
		<input type="text" />
		<br>
		<p>予定の詳細を入力</p>
		<textarea name="textarea1" rows="5" cols="20"></textarea>
	</form>
	<!--予定確認画面に行く-->
	<input type="submit" name="confilm" value="確認">
	<!--カレンダーに戻る-->
	<input type="submit" name="backCalander" value="カレンダーに戻る">

</body>
</html>