<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予定詳細</title>

<link rel="stylesheet" th:href="@{/team7/Team7Delete.css}">

</head>
<body>

    <form th:action="@{/Team7_fromDelete}" method="post">
		
		<input type="hidden" name="year" th:value="${year}">
		<input type="hidden" name="month" th:value="${month}">
		<input type="hidden" name="day" th:value="${day}">

        <table border="1">
            <thead>
                <tr>
                    <th>日付</th>
                    <th>予定ID</th>
                    <th>予定名</th>
                    <th>詳細</th>
                    <th>ユーザーID</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="s : ${CalenderEntity}">
                    <td th:text="${s.yoteiDt}"></td>
                    <td>
                        <span th:text="${s.yoteiCd}"></span>
                        <input type="hidden"
                               name="yoteiCd"
                               th:value="${s.yoteiCd}">
                    </td>
                    <td th:text="${s.yoteiNm}"></td>
                    <td th:text="${s.yoteiDetail}"></td>
                    <td th:text="${s.userId}"></td>
                </tr>
            </tbody>
        </table>

        <!-- ボタンエリア -->
        <div>
            <!-- 削除 -->
            <button type="submit" name="clear">🗑 削除する</button>
        </div>
		<div>
		<!-- カレンダーに戻る -->
		<button type="submit" name="backCalender">← 詳細画面に戻る</button>
		<input type="hidden" th:each="dayList: ${dayList}" name="days" th:value="${dayList}" />
		</div>

    </form>

</body>
</html>