<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン情報確認画面</title>

<link rel="stylesheet" th:href="@{/team7/Team7Confirm.css}">

</head>

<body>
	<form method="post" th:action="@{/Team7_fromConfirm}"th:object="${team7NewAccountForm}" >
		
		<input type="hidden" th:field="*{userCd}">
		<input type="hidden" th:field="*{userPw}">
		
		<p th:text="'IDは ' + *{userCd}"></p>
		<p th:text="'パスワードは ' + *{userPw}"></p>
		<h5>間違いないですか？</h5>
		
		<input type="submit" name ="back" value="修正" />
		<input type="submit" name = "Confirm" value="送信" />
		
	</form>
		

</body>
</html>